/*
nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: grey;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    
}
*/

.card.text-center {
    margin: 2em 0;
}

.card {
    margin: 1em 0;
}

.modal_checkBoxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
