<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap css link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--javascript for bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--jQuery script for changing http method-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Server css-->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <!--Server JS-->
    <script src="/javascript/script.js?2"></script>
</head>

<body>
    <header>
        <title>All of your Notes</title>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home">Notebook App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Notes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/createNote">Create Note</a>
                            <a class="dropdown-item" href="/listNotes">List Notes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="GET" action="/searchNotes">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <h1>All of your Notes</h1>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <section id="notesOwned">
                    <h3>Notes You Own</h3>
                    <div class="container">
                        {{with .OwnedNotes}}

                        {{if not .}}

                        <h3>You do not own any notes</h3>

                        {{else}}
                        {{range .}}
                        <div class="card text-center">
                            <div class="card-header">
                                Note Owner: You
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{.NoteTitle}}</h5>
                                <p class="card-text">{{.NoteBody}}</p>
                                <a href="#" class="btn btn-primary" onclick="editNotePage({{.NoteID}})">View Note</a>
                                <a href="#" class="btn btn-primary" onclick="addUsersClicked({{.NoteID}})">Add Users</a>
                                <a href="#" class="btn btn-primary" onclick="editPrivileges({{.NoteID}})">Edit Privileges</a>
                                <a href="#" class="btn btn-primary" onclick="deleteNote({{.NoteID}})">Delete Note</a>
                            </div>
                            <div class="card-footer text-muted">
                                <p>Date Created: {{.CreatedDate}}</p>
                            </div>
                        </div>

                        {{end}}
                        {{end}}
                        {{end}}
                    </div>
                </section>
                <h3>Notes you are Apart of</h3>
                <div class="container">
                    <section id="notesPartOf">
                        {{with .PartOfNotes}}
                        {{range .}}
                        <p>test part of notes</p>
                        <div class="card text-center">
                            <div class="card-header">
                                Note Owner: {{.NoteOwner}}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{.NoteTitle}}</h5>
                                <p class="card-text">{{.NoteBody}}</p>
                                <a href="#" class="btn btn-primary" onclick="editNotePage({{.NoteID}})">View Note</a>
                            </div>
                            <div class="card-footer text-muted">
                                <p>Date Created: {{.CreatedDate}}</p>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                </div>
                </section>
                </div>
            </div>
        </div>
        
    </main>
</body>

</html>