<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap css link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--javascript for bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--local css-->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Notebook App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1>Sign Up</h1>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form action="/createUser" method="POST">
                        <div class="form-group">
                            <label for="givenName">Given Name</label>
                            <input class="form-control" type="text" name="given_name" id="givenName" placeholder="Please enter your given name">
                        </div>
                         <div class="form-group">
                            <label for="familyName">Family Name</label>
                            <input class="form-control" type="text" name="family_name" id="familyName" placeholder="Please enter your family name">
                        </div>
                        
                        
              
                        
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" name="email" id="email" placeholder="Please enter your email address">
                        </div>
                    
                        
                        <div class="form-group">
                            <label for="userName">User Name (Must be unique) </label>
                            <input class="form-control" type="text" name="user_name" id="userName" placeholder="Please enter a username">
                        </div>
                     
                       
                        <div class="form-group">
                             <label for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" placeholder="Enter a password">
                        </div>
                    
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        
    </main>

</body>

</html>