<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <title>Home</title>
            <h1>Welcome To NoteApp</h1>
            <h3>This is a home page</h3>
        </header>
        <main>
            <p><a href="/logout">Logout</a></p>
        </main>
    </body>
</html>
