<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <title>Home</title>
            <h1>Welcome To NoteApp</h1>
        </header>
        <main>
        
        </main>
    </body>
</html>
